body{
    background-image:url("images/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    height:300px;
    width:500px;
    margin-left:600px;
    margin-top:100px;
}

@keyframes example {
    0%   {transform: rotateY(180deg);}
    50%  {transform: rotateY(0deg);}
    100% {transform: rotateY(180deg);}
}

#TitleContainer{
    height:100px;
    width:500px;
    margin-left:600px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#main_image{
    height:600px;
    
    display:flex;
    flex-wrap:wrap;
    margin:40px;
    /* margin-bottom:0px; */
}

#pic{
    height:500px;
    
    width:500px;
    margin-left:100px;
    margin-top:50px;
    display:flex;
    flex-wrap:wrap;
}

#pic_text{
    margin-top:100px;
    margin-left:0px;
    height:400px;
    width:800px;
}

.break{
    flex-basis:100%;
    height:0;
}

#button{
    width:100px;
    margin-bottom:20px;
    margin-left:200px; 
}

#image_only{
    height:350px;
    width:420px;
    margin-top:40px;
    margin-left:40px;
}

#float_tag{
    width:100%;
    height:70px;
    display:flex;
    background-color: rgb(109, 156, 47);
    
}

#sign_in{
    float:right;
    height:40px;
    width:150px;
    margin-top:10px;
    margin-right:20px;
}

.empty{
    /* border-style:dashed; */
    float: right;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 30px;
    width:1200px;
}

#home{
    height:40px;
    width:80px;
    margin-top:10px;
    margin-left:20px;
}

#feedback{
    height:40px;
    width:150px;
    margin-top:10px;
}

#products{
    height:600px;
    display:flex;
    flex-wrap: wrap;
}

.product_item{
    position: relative;
    margin-top:40px;
    height:350px;
    width:350px;
    margin-left:50px;
}

.image {
    opacity: 1;
    display: block;
    height:350px;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.product_item:hover .image {
    opacity: 0.3;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  
.product_item:hover .middle {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  
.text {
    background-color: #1d4939;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
}
#product_button{
    height:80px;
    width:400px;
    margin-left:600px;
}

#footer{
    height:80px;
    display:flex;
}

.contact_button{
    height:50px;
    width:50px;
    margin-top:15px;
    margin-left:20px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

#home_border{
    font-size:40px;
    cursor:pointer;
    margin-left:10px;
    transition: 0.3s;
}

#home_border:hover {
    background-color:rgb(109, 156, 47);
    color: white;
}

#btn_sign_in{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color:rgb(109, 156, 47);
    transition: 0.5s;
    margin-left:20px;
    /* color: green; */
}

#btn_sign_in:hover {
    background-color: rgb(11, 81, 109);
    color: white;
}

#explore{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    border-radius: 16px;
    transition: all 0.5s;
}

#explore:hover {
    background-color: rgb(11, 81, 109);
    color: white;
} 

#explore span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
#explore span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#explore:hover span {
    padding-right: 25px;
}
  
#explore:hover span:after {
    opacity: 1;
    /* background-color: rgb(11, 81, 109);
    color: white; */
    right: 0;
}

#text_para{
    font-size:40px;
    font-family:Lucida Sans;
    text-align: center;
    margin-top:80px;
}

